<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#del_{{service.id}}">
    Deactivate
</button>

<!-- Modal -->
<div class="modal fade" id="del_{{service.id}}" tabindex="-1" aria-labelledby="del_{{service.id}}_label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('admin.deactivate_service', id=service.id) }}" method="POST">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteServiceLabel">Delete {{ service.name }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{ service.name }}?
                    Please note that this action will deactivate all professionals associated with this service. And you
                    will have to activate them manually

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Deactivate</button>
                </div>
            </form>
        </div>
    </div>
</div>