<div>
    <div>
        <h2>Service History</h2>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Date</th>
                    <th>Service Type</th>
                    <th>Service Provider</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for request in request_history %}
                <tr class="{% if request.cust_issue_raised %}table-danger{% endif %}">
                    <td>{{ request.id }}</td>
                    <td>{{ request.date_of_service }}</td>
                    <td>{{ request.professional_details.service.name }}</td>
                    <td>
                        {{ request.professional_details.user.full_name }}
                        <br>
                        ph: {{ request.professional_details.user.phone }}
                        <br>
                        <!-- set the variable professional = request.professional_details in jijna-->
                        {% set professional = request.professional_details %}
                        {% set modal_trigger_type = 'link' %}
                        {% include 'components/view_professional_modal.html' %}
                    </td>

                    <td>
                        <div class="badge {% if request.status == 'Pending' %}text-bg-warning
                {% elif request.status == 'Accepted' %}text-bg-primary
                {% elif request.status == 'Rejected' %}text-bg-secondary
                {% elif request.status == 'Completed' %}text-bg-success
                {%else%}text-bg-dark
                {% endif %}
                ">
                            {{ request.status }}
                        </div>
                    </td>
                    <td>
                        {% if request.status == 'Accepted' %}
                        <a href="{{ url_for('customer.close_service_request', id=request.id) }}"
                            class="btn btn-warning">Close</a>
                        {% endif %}
                        {% if request.status == 'Pending' %}
                        <a href="{{ url_for('customer.cancel_service_request', id=request.id) }}"
                            class="btn btn-danger">Cancel</a>
                        <a href="{{ url_for('customer.edit_service_request', id=request.id) }}"
                            class="btn btn-warning">Edit</a>
                        {% endif %}
                        <br>
                        {% include 'components/view_review_modal.html' %}

                    </td>

                </tr>
                {% endfor %}
        </table>
    </div>
</div>