{% extends 'base.html' %}

{% block title %}Booking{% endblock %}

{% block content %}
<div class="container-fluid row justify-content-center">
    <div class="text-center">
        <h1>Booking</h1>
    </div>
    <div class="text-center">
        <p>
            Please read the form, fill the expected date for the service and write the details and expectations in the
            remarks.
            Verify the form before submitting.
        </p>
        <p>
            <strong>
                Please note that the price shown here might vary based on your specific requirements.
                Clarify with the professional via remarks or contact.
            </strong>
        </p>
    </div>
    <div class="col-6">
        <div>
            <div class="form-group mb-3">
                <p><strong>Service Type:</strong> {{ professional.service.name }} </p>
                <p><strong>Professional Name:</strong> {{ professional.user.full_name }} </p>
                <p><strong>Description: </strong>{{ professional.description }} </p>
                <p><strong>Experience:</strong> {{ professional.experience }} years</p>
                <!-- price -->
                <p><strong>Base Price:</strong> ₹{{ professional.service.base_price }} </p>
                <p><strong>Extra Price:</strong> ₹{{ professional.extra_price }} </p>


            </div>
        </div>
    </div>

    <div class="col-6">
        {% if service_request %}
        {%set url=url_for('customer.edit_service_request', id=service_request.id) %}
        {% else %}
        {%set url=url_for('customer.book_service', id=professional.id) %}
        {% endif %}
        <form action={{url}} method="POST">
            <!-- Confirmation -->

            <div class="form-group mb-3">
                <label for="service_date" class="form-label">Service Date</label>
                <input name="service_date" class="form-control" type="date" id="service_date" placeholder="Service Date"
                    {{ 'value=' ~ service_request.date_of_service if service_request }} required>

            </div>

            <div class="form-group mb-3">
                <label for="remarks" class="form-label">Remarks</label>
                <textarea name="remarks" class="form-control" id="remarks"
                    placeholder="Write the details and expectations"
                    required>{{ service_request.remarks if service_request }}</textarea>
            </div>
            <div class="form-group mb-3 mt-6">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    {% if service_request %}
                    Update
                    {% else %}
                    Book
                    {% endif %}
                </button>
        </form>
    </div>
</div>
</div>
{% endblock %}