{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Search</h1>
    <form action="{{ url_for('admin.search') }}" method="POST">
        <div class="container">
            <!-- Row for Label -->
            <div class="row mb-2">
                <div class="col-md-2 col-12 mb-2 mb-md-0">
                    <strong>Search by :</strong>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-2 col-12 mb-2 mb-md-0">
                    <select name="search_by" class="form-select">
                        <option value="service">Service</option>
                        <option value="customer">Customer</option>
                        <option value="professional">Professional</option>
                    </select>
                </div>

                <div class="col-md-4 col-12 mb-2 mb-md-0">
                    <input type="text" name="search_query" class="form-control" placeholder="Search">
                </div>

                <div class="col-md-2 col-12">
                    <button type="submit" class="btn btn-primary w-100">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<br>
<div>
    {% if services and services != [] %}
    <div class="container">
        <h3 class="text-center">Services</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Service Name</th>
                    <th>Service Description</th>
                    <th>Service Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td class="text-wrap" style="width: 20rem; white-space: normal;">{{ service.description }}</td>
                    <td>{{ service.base_price }}</td>
                    <td>
                        {% include 'components/service_modal.html' %}
                        {% include 'components/del_service_modal.html' %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}


    {% if users and users != [] %}
    <div class="container">
        <h3 class="text-center">Customers</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Profile</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><img src="{{ url_for('public.uploaded_image', filename=user.profile_pic) }}"
                            alt="{{ user.name }}" width="100" height="100"></td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.address }} <br> Pincode: {{ user.pincode }}</td>
                    <td>
                        {% include 'components/view_user_modal.html' %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}

    {% if professionals and professionals != [] %}
    <div class="container">
        <h3 class="text-center">Professionals</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Profile</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for professional in professionals %}
                <tr>
                    <td>{{ professional.id }}</td>
                    <td><img src="{{ url_for('public.uploaded_image', filename=professional.user.profile_pic) }}"
                            alt="{{ professional.name }}" width="100" height="100"></td>
                    <td>{{ professional.user.full_name }}</td>
                    <td>{{ professional.user.username }}</td>
                    <td>{{ professional.user.phone }}</td>
                    <td>{{ professional.user.address }}</td>
                    <td>
                        {% if professional.is_approved == False %}
                        <a href="{{ url_for('admin.approve_professional', id=professional.id) }}"
                            class="btn btn-success">Approve</a>
                        {% else %}
                        <a href="{{ url_for('admin.block_professional', id=professional.id) }}"
                            class="btn btn-danger">block</a>
                        {% endif %}
                        {% include 'components/view_professional_modal.html' %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>



{% endblock %}