{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>{{ professional.user.full_name}} </h1>
<!-- warning block that says that the account is not active -->
{% if professional.is_deactivated %}
<div class="alert alert-warning" role="alert">
    <strong>
        Your professional account is not active and you will not receive any new service requests.
        <br>
        please contact the admin to activate your account.
    </strong>
</div>
{% endif %}
<br>
<h2>Todays Services</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Contact Number</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for request in todays_services %}
    <tr class="{% if request.prof_issue_raised %}table-danger{% endif %}">
        <td>{{ request.id }}</td>
        <td>
            {% set user = request.user %}
            {% set modal_trigger_type = 'link' %}
            {% include 'components/view_user_modal.html' %}
        </td>
        <td>{{ request.user.phone }}</td>
        <td>{{ request.user.address }} <br>Pincode: {{ request.user.pincode }} </td>
        <td>
            {% if request.status == 'Pending' %}
            <a href="{{ url_for('professional.accept_service_request', id=request.id) }}"
                class="btn btn-success">Accept</a>
            <a href="{{ url_for('professional.reject_service_request', id=request.id) }}"
                class="btn btn-danger">Reject</a>
            {% endif %}
            {% if request.status == 'Accepted' %}
            <a href="{{ url_for('professional.close_service_request', id=request.id) }}"
                class="btn btn-success">Close</a>
            {% endif %}
            {% include 'components/view_review_modal.html' %}
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Upcoming Services</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Contact Number</th>
            <th>Location</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for request in upcoming_services %}
    <tr class="{% if request.prof_issue_raised %}table-danger{% endif %}">
        <td>{{ request.id }}</td>
        <td>
            {% set user = request.user %}
            {% set modal_trigger_type = 'link' %}
            {% include 'components/view_user_modal.html' %}

        </td>
        <td>{{ request.user.phone }}</td>
        <td>{{ request.user.address }} <br>Pincode: {{ request.user.pincode }} </td>
        <td>
            <div class="badge {% if request.status == 'Pending' %}text-bg-warning
                {% elif request.status == 'Accepted' %}text-bg-primary
                {% elif request.status == 'Rejected' %}text-bg-secondary
                {% elif request.status == 'Completed' %}text-bg-success
                {%else%}text-bg-dark
                {% endif %}
                ">
                {{ request.status }}
            </div>
        </td>
        <td>
            {% if request.status == 'Pending' %}
            <a href="{{ url_for('professional.accept_service_request', id=request.id) }}"
                class="btn btn-success">Accept</a>
            <a href="{{ url_for('professional.reject_service_request', id=request.id) }}"
                class="btn btn-danger">Reject</a>
            {% endif %}
            {% include 'components/view_review_modal.html' %}
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Completed Services</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Contact Number</th>
            <th>Location</th>
            <th>Date</th>
            <th>Rating</th>
            <th>Action</th>
        </tr>
    </thead>
    {% for request in completed_services %}
    <tr class="{% if request.prof_issue_raised %}table-danger{% endif %}">
        <td>{{ request.id }}</td>
        <td>
            {% set user = request.user %}
            {% set modal_trigger_type = 'link' %}
            {% include 'components/view_user_modal.html' %}

        </td>
        <td>{{ request.user.phone }}</td>
        <td>{{ request.user.address }} <br>Pincode: {{ request.user.pincode }} </td>
        <td>{{ request.date_of_service }}</td>
        <td>{{ request.rating }}</td>
        <td>
            {% include 'components/view_review_modal.html' %}
            <br>
            <div class="star-rating">
                {% for i in range(5, 0, -1) %}
                <input type="radio" name="rating" id="{{request.id}}-star{{ i }}" value="{{ i }}" {% if
                    request.rating==i %} checked {% endif %} disabled>
                <label for="{{request.id}}-star{{ i }}" class="bi bi-star-fill"></label>
                {% endfor %}

            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}